<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <i class="fa fa-angellist"></i>
  </h1>
  <h3>
    Now with NG Bootstrap
  </h3>
  <div class="container">
    <div style="padding:10px;">
      <ngb-progressbar showValue="true" type="success" [value]="25">
      </ngb-progressbar>
    </div>
    <div style="padding:10px;">
      <ngb-progressbar [showValue]="true" type="info" [value]="50">
      </ngb-progressbar>
    </div>
    <div style="padding:10px;">
      <ngb-progressbar
        showValue="true"
        type="warning"
        [value]="150"
        [max]="200"
      >
      </ngb-progressbar>
    </div>
    <div style="padding:10px;">
      <ngb-progressbar
        [showValue]="true"
        type="danger"
        [value]="150"
        [max]="150"
      >
      </ngb-progressbar>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
